<div class="row">
    <div class="col-md-12">
        <label for="point-lists">Select point list:</label>
        <select class="form-control" id="point-lists">
            <option>-</option>
        </select>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-block">
            <input class="btn" id="point-lists-button" type="button" value="Reload lists" />
            <input class="btn" id="load-points-button" type="button" value="Load points" />
        </div>
    </div>
</div>



