<table id="point-table" class="table table-hover">
    <thead>
        <tr>
            <th>
                X
            </th>
            <th>
                Y
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>