
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-body panel-default panel-default">
            @{await Html.RenderPartialAsync("Partials/ListPicker");}
        </div>
        
        <div class="panel panel-body panel-default panel-default">
            @{await Html.RenderPartialAsync("Partials/AddPoint");}
        </div>
        
    </div>
    <div class="col-md-8">
        @{await Html.RenderPartialAsync("Partials/PointTable");}
    </div>
</div>

